name: Build itop image

on:
  push:
    branches:
      - '2.7.6'
  
  schedule:
    - cron: '00 20 * * *' # GMT 14:00 => 北京时间 2:00
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to alli
      run:  docker login registry.cn-shanghai.aliyuncs.com -u ${{ secrets.ALI_USER }} --password ${{ secrets.ALI_PWD }}
    - name: Build the tagged Docker image
      run: cd itop && docker build . -t registry.cn-shanghai.aliyuncs.com/bcx86/itop:base-2.7.6
    - name: Push the tagged Docker image
      run: docker push registry.cn-shanghai.aliyuncs.com/bcx86/itop:base-2.7.6
